@import "tailwindcss";

@layer base {
    body {
        @apply bg-background text-foreground antialiased
    }
}

@theme {
    --color-background: hsl(44 94 98);
    --color-foreground: hsl(220 10 20);

    --color-primary: hsl(145 80 20);
    --color-secondary: hsl(220 60 55);

    --color-br-green: hsl(143, 100, 31);
    --color-br-yellow: hsl(52, 100, 50);
    --color-br-blue: hsl(220, 100, 23);
}


