<header class="border-b py-4 border-b-neutral-300">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <div class="flex items-center">
            <div class="flex items-center gap-2">
                <span class="w-6 h-6 bg-amber-500 rounded-full flex items-center justify-center">
                    <span class="w-4 h-4 bg-amber-100 rounded-full"></span>
                </span>
                <h1 class="text-xl font-bold">Feriados Brasil</h1>
            </div>
        </div>
    </div>
</header>
